PORT=5000
APP_PUBLIC_URL=https://2fb5-35-231-119-130.ngrok-free.app/
BACKEND_PUBLIC_URL=http://127.0.0.1:5000/

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=miniuser
MYSQL_PASSWORD=mini_pass_123
MYSQL_DATABASE=mini_ide_db

GEMINI_API_KEY=AQ.Ab8RN6KDWEjzcGLO68sowphu1XslsOOy3TDYhaGz1-7LuKB9IQ

STRIPE_SECRET_KEY=sk_test_51QJDDjEJNF1AXnBcKturDqCdWPaq2SKZadCNWz7uxPegoZyJc9RzitBWbsz1qjI2R6XrNGwU61EZ6mKCHvHpm2qx00bQt2u7pK
STRIPE_WEBHOOK_SECRET=whsec_J4jq2qYBjgfe8TJX5ZqpOl8dAUhGwktP

STRIPE_PRICE_20=price_1TQ63BEJNF1AXnBcW9z7GXZp
STRIPE_PRICE_50=price_1TQ63gEJNF1AXnBcgvYfoOiY


GOOGLE_CLIENT_ID=321882385705-dvfkpv8ej4ib7pedtcgg9oism8p911uj.apps.googleusercontent.com